@media screen and (min-width: 769px) {
    .search-container-box {
        width: 100%;
        text-align: center;
    }

    .search-container-box .search-box {
        width: 60%;
        font-size: 16px;
        background-image: url('../../searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

    .main-container-search {
        width: 68%;
        height: auto;
        background:
            #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.25);
        float: left;
        margin: 0 20px 0 20px;
        padding-bottom: 30px;
    }

    .main-container-search .main-navigation-container-search {
        width: 100%;
        height: 50px;
        background:
            #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .main-container-search .main-body {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .main-container-search .main-body .card {
        width: 46%;
        float: left;
        margin: 15px;
        border-radius: 3px;
        border: 1px solid #e6e6e6;
    }

    .main-container-search .main-body .card .card-header {
        position: relative;
        height: 30px;
        padding: 16px;
        border-bottom: 1px solid #e6e6e6;
    }

    .main-container-search .main-body .card .card-header img {
        position: absolute;
        top: 16%;
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid #008b51
    }

    .main-container-search .main-body .card .card-header .block-title {
        position: absolute;
        top: 20%;
        left: 65px;
        width: 72%;
    }

    .main-container-search .main-body .card .card-header .block-title h3 {
        color: #000;
        font-size: 12px;
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: uppercase;
        padding: 0 5px 0 5px;
    }

    .main-container-search .main-body .card .card-body {
        position: relative;
        height: auto;
    }

    .main-container-search .main-body .card .card-body img {
        display: block;
        width: 100%;
        height: 250px;
    }

    .main-container-search .main-body .card .card-body .block-view {
        line-height: 0px;
        padding-left: 16px;
        padding-right: 16px;
        font-size: 12px;
    }

    .main-container-search .main-body .card .card-body .block-title {
        padding-left: 16px;
        padding-right: 16px;
    }

    .main-container-search .main-body .card .card-body .block-title h3 {
        color: #000;
        font-size: 16px;
        width: 100%;
        text-transform: uppercase;
    }


    .main-container-search .main-body .card .card-body .block-eps {
        position: absolute;
        width: 85px;
        top: 0;
        background: rgba(0, 0, 0, 0.75);

    }

    .main-container-search .main-body .card .card-body .block-eps h3 {
        color: #fff;
        font-size: 15px;
        text-align: center;
        width: 100%;
    }

    .main-container-search .main-body .card .card-body .block-type {
        position: absolute;
        width: 85px;
        top: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.75);

    }

    .main-container-search .main-body .card .card-body .block-type h3 {
        color: #fff;
        font-size: 15px;
        text-align: center;
        width: 100%;
    }

    .result-for {
        width: 100%;
        height: 40px;
        font-family: Mukta;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 40px;
        float: left;
        padding: 5px;

        color: #000000;
    }

    .result {
        width: 100%;
        margin-top: 20px;
    }

    .result .not-found {
        display: flex;
        justify-content: center;
    }

    .result .loading {
        display: flex;
        justify-content: center;
        padding: 20px;
    }
}

@media screen and (max-width: 768px) {
    .search-container-box {
        width: 100%;
        text-align: center;
    }

    .search-container-box .search-box {
        width: 60%;
        font-size: 16px;
        background-image: url('../../searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

    .main-container-search {
        width: 97%;
        height: auto;
        background:
            #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.25);
        float: left;
        margin: 0 10px 0 10px;
        padding-bottom: 30px;
    }

    .main-container-search .main-navigation-container-search {
        width: 100%;
        height: 50px;
        background:
            #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .main-container-search .main-body {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .main-container-search .main-body .card {
        width: 45%;
        float: left;
        margin: 15px;
        border-radius: 3px;
        border: 1px solid #e6e6e6;
    }

    .main-container-search .main-body .card .card-header {
        position: relative;
        height: 30px;
        padding: 16px;
        border-bottom: 1px solid #e6e6e6;
    }

    .main-container-search .main-body .card .card-header img {
        position: absolute;
        top: 16%;
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid #008b51
    }

    .main-container-search .main-body .card .card-header .block-title {
        position: absolute;
        top: 20%;
        left: 60px;
        width: 75%;
    }

    .main-container-search .main-body .card .card-header .block-title h3 {
        color: #000;
        font-size: 12px;
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: uppercase;
        padding: 0 5px 0 5px;
    }

    .main-container-search .main-body .card .card-body {
        position: relative;
        height: auto;
    }

    .main-container-search .main-body .card .card-body img {
        display: block;
        width: 100%;
        height: 250px;
    }

    .main-container-search .main-body .card .card-body .block-view {
        line-height: 0px;
        padding-left: 16px;
        padding-right: 16px;
        font-size: 12px;
    }

    .main-container-search .main-body .card .card-body .block-title {
        padding-left: 16px;
        padding-right: 16px;
    }

    .main-container-search .main-body .card .card-body .block-title h3 {
        color: #000;
        font-size: 16px;
        width: 100%;
        text-transform: uppercase;
    }


    .main-container-search .main-body .card .card-body .block-eps {
        position: absolute;
        width: 85px;
        top: 0;
        background: rgba(0, 0, 0, 0.75);

    }

    .main-container-search .main-body .card .card-body .block-eps h3 {
        color: #fff;
        font-size: 15px;
        text-align: center;
        width: 100%;
    }

    .main-container-search .main-body .card .card-body .block-type {
        position: absolute;
        width: 85px;
        top: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.75);

    }

    .main-container-search .main-body .card .card-body .block-type h3 {
        color: #fff;
        font-size: 15px;
        text-align: center;
        width: 100%;
    }

    .result-for {
        width: 100%;
        height: 40px;
        font-family: Mukta;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 40px;
        float: left;
        padding: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        color: #000000;
    }

    .result {
        width: 100%;
        margin-top: 20px;
    }

    .result .not-found {
        display: flex;
        justify-content: center;
    }

    .result .loading {
        display: flex;
        justify-content: center;
        padding: 20px;
    }
}

@media screen and (max-width: 600px) {
    .search-container-box {
        width: 100%;
        text-align: center;
    }

    .search-container-box .search-box {
        width: 60%;
        font-size: 16px;
        background-image: url('../../searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

    .main-container-search {
        width: 95%;
        height: auto;
        background:
            #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.25);
        float: left;
        margin: 0 10px 0 10px;
        padding-bottom: 30px;
    }

    .main-container-search .main-navigation-container-search {
        width: 100%;
        height: 50px;
        background:
            #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .main-container-search .main-body {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .main-container-search .main-body .card {
        width: 100%;
        margin: 15px 0 15px 0;
        border-radius: 3px;
        border: 1px solid #e6e6e6;
    }

    .main-container-search .main-body .card .card-header {
        position: relative;
        height: 30px;
        padding: 16px;
        border-bottom: 1px solid #e6e6e6;
    }

    .main-container-search .main-body .card .card-header img {
        position: absolute;
        top: 16%;
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid #008b51
    }

    .main-container-search .main-body .card .card-header .block-title {
        position: absolute;
        top: 20%;
        left: 65px;
        width: 75%;
    }

    .main-container-search .main-body .card .card-header .block-title h3 {
        color: #000;
        font-size: 12px;
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: uppercase;
        padding: 0 5px 0 5px;
    }

    .main-container-search .main-body .card .card-body {
        position: relative;
        height: auto;
    }

    .main-container-search .main-body .card .card-body img {
        display: block;
        width: 100%;
        height: 250px;
    }

    .main-container-search .main-body .card .card-body .block-view {
        line-height: 0px;
        padding-left: 16px;
        padding-right: 16px;
        font-size: 12px;
    }

    .main-container-search .main-body .card .card-body .block-title {
        padding-left: 16px;
        padding-right: 16px;
    }

    .main-container-search .main-body .card .card-body .block-title h3 {
        color: #000;
        font-size: 16px;
        width: 100%;
        text-transform: uppercase;
    }


    .main-container-search .main-body .card .card-body .block-eps {
        position: absolute;
        width: 85px;
        top: 0;
        background: rgba(0, 0, 0, 0.75);

    }

    .main-container-search .main-body .card .card-body .block-eps h3 {
        color: #fff;
        font-size: 15px;
        text-align: center;
        width: 100%;
    }

    .main-container-search .main-body .card .card-body .block-type {
        position: absolute;
        width: 85px;
        top: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.75);

    }

    .main-container-search .main-body .card .card-body .block-type h3 {
        color: #fff;
        font-size: 15px;
        text-align: center;
        width: 100%;
    }

    .result-for {
        width: 100%;
        height: 40px;
        font-family: Mukta;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 40px;
        float: left;
        padding: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        color: #000000;
    }

    .result {
        width: 100%;
        margin-top: 20px;
    }

    .result .not-found {
        display: flex;
        justify-content: center;
        padding: 20px;
    }

    .result .loading {
        display: flex;
        justify-content: center;
        padding: 20px;
    }
}

@media screen and (max-width: 480px) {
    .search-container-box {
        width: 100%;
        text-align: center;
    }

    .search-container-box .search-box {
        width: 60%;
        font-size: 16px;
        background-image: url('../../searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

    .main-container-search {
        width: 94%;
        height: auto;
        background:
            #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.25);
        float: left;
        margin: 0 10px 0 10px;
        padding-bottom: 30px;
    }

    .main-container-search .main-navigation-container-search {
        width: 100%;
        height: 50px;
        background:
            #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .main-container-search .main-body .card {
        width: 100%;
        margin: 15px 0 15px 0;
        border-radius: 3px;
        border: 1px solid #e6e6e6;
    }

    .main-container-search .main-body .card .card-header {
        position: relative;
        height: 30px;
        padding: 16px;
        border-bottom: 1px solid #e6e6e6;
    }

    .main-container-search .main-body .card .card-header img {
        position: absolute;
        top: 16%;
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid #008b51
    }

    .main-container-search .main-body .card .card-header .block-title {
        position: absolute;
        top: 20%;
        left: 65px;
        width: 75%;
    }

    .main-container-search .main-body .card .card-header .block-title h3 {
        color: #000;
        font-size: 12px;
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: uppercase;
        padding: 0 5px 0 5px;
    }

    .main-container-search .main-body .card .card-body {
        position: relative;
        height: auto;
    }

    .main-container-search .main-body .card .card-body img {
        display: block;
        width: 100%;
        height: 250px;
    }

    .main-container-search .main-body .card .card-body .block-view {
        line-height: 0px;
        padding-left: 16px;
        padding-right: 16px;
        font-size: 12px;
    }

    .main-container-search .main-body .card .card-body .block-title {
        padding-left: 16px;
        padding-right: 16px;
    }

    .main-container-search .main-body .card .card-body .block-title h3 {
        color: #000;
        font-size: 16px;
        width: 100%;
        text-transform: uppercase;
    }


    .main-container-search .main-body .card .card-body .block-eps {
        position: absolute;
        width: 85px;
        top: 0;
        background: rgba(0, 0, 0, 0.75);

    }

    .main-container-search .main-body .card .card-body .block-eps h3 {
        color: #fff;
        font-size: 15px;
        text-align: center;
        width: 100%;
    }

    .main-container-search .main-body .card .card-body .block-type {
        position: absolute;
        width: 85px;
        top: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.75);

    }

    .main-container-search .main-body .card .card-body .block-type h3 {
        color: #fff;
        font-size: 15px;
        text-align: center;
        width: 100%;
    }

    .result-for {
        width: 100%;
        height: 40px;
        font-family: Mukta;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 40px;
        float: left;
        padding: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        color: #000000;
    }

    .result {
        width: 100%;
        margin-top: 20px;
    }

    .result .not-found {
        display: flex;
        justify-content: center;
        padding: 20px;
    }

    .result .loading {
        display: flex;
        justify-content: center;
        padding: 20px;
    }
}