a {
    text-decoration: none;
    color: black;
}

@media screen and (min-width: 769px) {
    .nav-container {
        position: fixed;
        /* max-width: 1440px; */
        width: 100%;
        height: 76px;
        left: 0px;
        top: 0px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        z-index: 1;
    }

    .nav-container .logo {
        position: absolute;
        width: auto;
        height: 46px;
        left: 6%;
        top: 20%;
    }

    .nav-container .brand {
        position: absolute;
        width: auto;
        height: 38px;
        left: 10%;
        top: 25%;
        font-family: Bangers;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 38px;
        color: #000000;
    }

    .nav-container .nav-search-container input {
        position: absolute;
        max-width: 257px;
        width: 100%;
        height: 36px;
        left: 25%;
        top: 25%;
        padding-left: 10px;
        padding-right: 2%;
        background: #FAFAFA;
        border: 1px solid rgba(0, 0, 0, 0.25);
        border-radius: 5px;
    }

    .nav-container .nav-search-container i.icon-search {
        position: absolute;
        left: 45%;
        top: 40%;
    }


    .nav-container ul.nav-menu {
        /* position: absolute; */
        overflow: hidden;
        list-style: none;
        font-family: Mukta;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        /* line-height: 26px; */
        color: #000000;
        padding-right: 6%;
    }

    .nav-container ul.nav-menu>li{
        /* position: absolute;
        width: 46px;
        height: 26px;
        left: 738px;
        top: 5px; */
        float: right;
        padding: 0 15px 0 15px;
        line-height: 10px;
    }

    .nav-container ul.nav-menu>li .active{
        color: #008B51 !important;
    }

    

    .nav-container ul.nav-menu-mobile>li.menu-home {
        display: none;
    }

    .nav-container ul.nav-menu-mobile>li.menu-home .home {
        display: none;
    }

    .nav-container ul.nav-menu-mobile>li.menu-search {
        display: none;
    }

    .nav-container ul.nav-menu-mobile>li.menu-search .search {
        display: none;
    }

    .nav-container ul.nav-menu-mobile>li.menu-collection {
        display: none;
    }

    .nav-container ul.nav-menu-mobile>li.menu-collection .collection {
        display: none;
    }

}

@media screen and (max-width: 768px) {
    .nav-container {
        position: fixed;
        /* max-width: 768px; */
        width: 100%;
        height: 60px;
        left: 0px;
        top: 0px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        z-index: 1;
    }

    .nav-container .logo {
        position: absolute;
        width: auto;
        height: 46px;
        left: 6%;
        top: 12%;
    }

    .nav-container .brand {
        position: absolute;
        width: auto;
        height: 38px;
        left: 13%;
        top: 18%;
        font-family: Bangers;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 38px;
        color: #000000;
    }

    .nav-container .nav-search-container input {
        display: none;
    }

    .nav-container .nav-search-container i.icon-search {
        display: none;
    }

    .nav-container ul.nav-menu {
        display: none;
    }

    .nav-container ul.nav-menu>li.home {
        display: none;
    }

    .nav-container ul.nav-menu>li.daftar-anime {
        display: none;
    }

    .nav-container ul.nav-menu>li.jadwal {
        display: none;
    }

    .nav-container ul.nav-menu>li.genre {
        display: none;
    }

    .nav-container ul.nav-menu>li.movie {
        display: none;
    }

    .nav-container ul.nav-menu>li.live-action {
        display: none;
    }

    /* mobile */
    .nav-container ul.nav-menu-mobile {
        position: fixed;
        list-style: none;
        /* max-width: 768px; */
        width: 100%;
        height: 60px;
        left: 0;
        bottom: -17px;

        background: #FFFFFF;
        box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
    }

    .nav-container ul.nav-menu-mobile>li .active {
        color: #008B51 !important;
    }

    .nav-container ul.nav-menu-mobile>li.menu-home {
        position: fixed;
        /* max-width: 768px; */
        width: 33.33%;
        height: 76px;
        left: 0;
        bottom: -18px;
    }

    .nav-container ul.nav-menu-mobile>li.menu-home .home {

        font-family: Mukta;
        font-size: 20px;
        line-height: 30px;
        /* identical to box height */
        text-align: center;
    }



    .nav-container ul.nav-menu-mobile>li.menu-search {
        position: fixed;
        /* max-width: 768px; */
        width: 33.33%;
        height: 76px;
        left: 33.33%;
        bottom: -18px;
    }

    .nav-container ul.nav-menu-mobile>li.menu-search .search {

        font-family: Mukta;
        font-size: 20px;
        line-height: 30px;
        /* identical to box height */
        text-align: center;

        color: rgba(0, 0, 0, 0.75);
    }

    .nav-container ul.nav-menu-mobile>li.menu-collection {
        position: fixed;
        /* max-width: 768px; */
        width: 33.33%;
        height: 76px;
        left: 66.66%;
        bottom: -18px;
    }

    .nav-container ul.nav-menu-mobile>li.menu-collection .collection {

        font-family: Mukta;
        font-size: 20px;
        line-height: 30px;
        /* identical to box height */
        text-align: center;

        color: rgba(0, 0, 0, 0.75);
    }

}

@media screen and (max-width: 600px) {
    .nav-container {
        position: fixed;
        /* max-width: 768px; */
        width: 100%;
        height: 60px;
        left: 0px;
        top: 0px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        z-index: 1;
    }

    .nav-container .logo {
        position: absolute;
        width: auto;
        height: 46px;
        left: 6%;
        top: 12%;
    }

    .nav-container .brand {
        position: absolute;
        width: auto;
        height: 38px;
        left: 18%;
        top: 18%;
        font-family: Bangers;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 38px;
        color: #000000;
    }

    .nav-container .nav-search-container input {
        display: none;
    }

    .nav-container .nav-search-container i.icon-search {
        display: none;
    }

    .nav-container ul.nav-menu {
        display: none;
    }

    .nav-container ul.nav-menu>li.home {
        display: none;
    }

    .nav-container ul.nav-menu>li.daftar-anime {
        display: none;
    }

    .nav-container ul.nav-menu>li.jadwal {
        display: none;
    }

    .nav-container ul.nav-menu>li.genre {
        display: none;
    }

    .nav-container ul.nav-menu>li.movie {
        display: none;
    }

    .nav-container ul.nav-menu>li.live-action {
        display: none;
    }

    /* mobile */
    .nav-container ul.nav-menu-mobile {
        position: fixed;
        list-style: none;
        /* max-width: 768px; */
        width: 100%;
        height: 60px;
        left: 0;
        bottom: -17px;

        background: #FFFFFF;
        box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
    }

    .nav-container ul.nav-menu-mobile>li .active {
        color: #008B51 !important;
    }

    .nav-container ul.nav-menu-mobile>li.menu-home {
        position: fixed;
        /* max-width: 768px; */
        width: 33.33%;
        height: 76px;
        left: 0;
        bottom: -18px;
    }


    .nav-container ul.nav-menu-mobile>li.menu-home .home {

        font-family: Mukta;
        font-size: 20px;
        line-height: 30px;
        /* identical to box height */
        text-align: center;
    }

    .nav-container ul.nav-menu-mobile>li.menu-search {
        position: fixed;
        /* max-width: 768px; */
        width: 33.33%;
        height: 76px;
        left: 33.33%;
        bottom: -18px;
    }

    .nav-container ul.nav-menu-mobile>li.menu-search .search {

        font-family: Mukta;
        font-size: 20px;
        line-height: 30px;
        /* identical to box height */
        text-align: center;

        color: rgba(0, 0, 0, 0.75);
    }

    .nav-container ul.nav-menu-mobile>li.menu-collection {
        position: fixed;
        /* max-width: 768px; */
        width: 33.33%;
        height: 76px;
        left: 66.66%;
        bottom: -18px;
    }

    .nav-container ul.nav-menu-mobile>li.menu-collection .collection {

        font-family: Mukta;
        font-size: 20px;
        line-height: 30px;
        /* identical to box height */
        text-align: center;

        color: rgba(0, 0, 0, 0.75);
    }

}

@media screen and (max-width: 480px) {
    .nav-container {
        position: fixed;
        /* max-width: 768px; */
        width: 100%;
        height: 60px;
        left: 0px;
        top: 0px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        z-index: 1;
    }

    .nav-container .logo {
        position: absolute;
        width: auto;
        height: 46px;
        left: 6%;
        top: 12%;
    }

    .nav-container .brand {
        position: absolute;
        width: auto;
        height: 38px;
        left: 20%;
        top: 18%;
        font-family: Bangers;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 38px;
        color: #000000;
    }

    .nav-container .nav-search-container input {
        display: none;
    }

    .nav-container .nav-search-container i.icon-search {
        display: none;
    }

    .nav-container ul.nav-menu {
        display: none;
    }

    .nav-container ul.nav-menu>li.home {
        display: none;
    }

    .nav-container ul.nav-menu>li.daftar-anime {
        display: none;
    }

    .nav-container ul.nav-menu>li.jadwal {
        display: none;
    }

    .nav-container ul.nav-menu>li.genre {
        display: none;
    }

    .nav-container ul.nav-menu>li.movie {
        display: none;
    }

    .nav-container ul.nav-menu>li.live-action {
        display: none;
    }

    /* mobile */
    .nav-container ul.nav-menu-mobile {
        position: fixed;
        list-style: none;
        /* max-width: 768px; */
        width: 100%;
        height: 60px;
        left: 0;
        bottom: -17px;

        background: #FFFFFF;
        box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
    }

    .nav-container ul.nav-menu-mobile>li .active {
        color: #008B51 !important;
    }

    .nav-container ul.nav-menu-mobile>li.menu-home {
        position: fixed;
        /* max-width: 768px; */
        width: 33.33%;
        height: 76px;
        left: 0;
        bottom: -18px;
    }

    .nav-container ul.nav-menu-mobile>li.menu-home .home {

        font-family: Mukta;
        font-size: 20px;
        line-height: 30px;
        /* identical to box height */
        text-align: center;
    }

    .nav-container ul.nav-menu-mobile>li.menu-search {
        position: fixed;
        /* max-width: 768px; */
        width: 33.33%;
        height: 76px;
        left: 33.33%;
        bottom: -18px;
    }

    .nav-container ul.nav-menu-mobile>li.menu-search .search {

        font-family: Mukta;
        font-size: 20px;
        line-height: 30px;
        /* identical to box height */
        text-align: center;

        color: rgba(0, 0, 0, 0.75);
    }

    .nav-container ul.nav-menu-mobile>li.menu-collection {
        position: fixed;
        /* max-width: 768px; */
        width: 33.33%;
        height: 76px;
        left: 66.66%;
        bottom: -18px;
    }

    .nav-container ul.nav-menu-mobile>li.menu-collection .collection {

        font-family: Mukta;
        font-size: 20px;
        line-height: 30px;
        /* identical to box height */
        text-align: center;

        color: rgba(0, 0, 0, 0.75);
    }

}